.container{
    display: flex;
    justify-content: center;
    background-color: #e5eff4;
    height: 100cqh;
}

form {
    display: flex;
    flex-direction: column;
    margin: auto;
    background-color: #bdd4e0;
    width: 30%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid black;
    box-shadow: 1px 3px 2px rgba(0, 0, 0, 0.5);
}

.form-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1%;
}

.form-row-element {
  flex: 1;
  margin: 10px;
  min-width: 30%;
}

.k-input, .k-dropdownlist {
  margin: 0;
  padding: 0;
}

.k-grid {
  width: 100%; 
  height: 200px;
  max-height: 200px; 
  overflow: auto; 
}

.k-grid-header, .k-grid-content {
  overflow: auto; 
}

.k-grid table {
  min-width: 2000px; 
}
  
.k-button {
    background-color: #e5eaee;
    color: rgb(0, 0, 0);
  }
.k-button:hover
{
  background-color: #a7bbcb;
}

.main-button {
  width: 100%;
}